html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        meta(name='msapplication-TileColor' content='#da532c')
        meta(name='theme-color' content='#ffffff')

        title Not found!!! 404

        link(rel='apple-touch-icon' sizes='180x180' href='favicon/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='favicon/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='favicon/favicon-16x16.png')
        link(rel='manifest' href='favicon/site.webmanifest')
        link(rel='mask-icon' href='favicon/safari-pinned-tab.svg' color='#5bbad5')

        link(rel='stylesheet' href='styles/404.css' type='text/css')
        
    body
            header
                h1.not-found The requested path was not found on the server. Error 404!!!



            iframe(width="0" height="0" src="https://www.youtube.com/embed/DLzxrzFCyOs?rel=0&autoplay=1" frameborder="0")
